<%= simple_form_for employee  do |form| %>
  <div>
    <%= form.label :full_name, style: "display: block" %>
    <%= form.text_field :full_name %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
